body{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png");
}
.main{
    height: 600px;
   

}
.child{
    width: 350px;
    height: 350px;
    border: 6px solid  #48ee59; 
}
.font{
    font-family: Bree Serif;
    font-size: 45px;
}